//colors
$sun:linear-gradient(270deg, #EAC485 0%, #FFFFFF 100%);
$base-orbit-size:150px;
$sun-size:120px;
$left:164px;
$orbits-bgcolors-list: #40193E #30133F #21103A;
$orbit-planets-bgcolors-list: linear-gradient(269.7deg, #EBC88D 0.26%, #FFB444 99.74%) linear-gradient(269.7deg, #FA765F 0.26%, #FFB444 99.74%) linear-gradient(269.7deg, #FA765F 0.26%, #FF4644 99.74%);
$body-bg-color:#120D31;
$star-color:#BCBCBC;
$time-color:#120D31;
//
$zindex:16;
$transform-origin:110px;
$animation-duration:2.4s;
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
body{
  background:$body-bg-color;
  height: 100vh;
}
.container, .sun, .moon, .orbit,.night,.day,.planet,.planet-container,.planet-1,.planet-2,.planet-3,.orbit-planet-1,.orbit-planet-2,.orbit-planet-3,.stars,.stars div{
  position:absolute;
}
.container{
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:530px;
    height:530px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.orbit{
    background: transparent;
    border-radius: 100%;
    width: $base-orbit-size;
    height: $base-orbit-size;
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 222222;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 0.5;
    color: $time-color;
}
.planet{
    border-radius: 100%;
    //animation: rotate180degBack cubic-bezier(0.6, 0.04, 0.98, 0.335);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun{
    width: $sun-size;
    height: $sun-size;
    z-index: $zindex+1;
    background: $sun;
    border-radius: 100%;
    box-shadow: 0px 0px 50px #F2CE92;
    animation: shineStars 10s infinite;

}
#hour,
#minute,
#second {
    transform-origin: 270px 270px;
    transition: transform 1s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
}
#hour{
    bottom: 50%;
}
#minute{
    bottom: 76%;
}


@for $i from 1 through 25{
    $random-size:random(10)+px;
    .stars div:nth-child(#{$i}){
        width: $random-size;
        height: $random-size;
        border-radius: 100%;
        background: $star-color;
        left: (random(1000) - 500) +px;
        bottom: (random(1000) - 300) +px;
        z-index: -3;
        margin: 30px;
        animation: starsOpacity $i*7.9s infinite;
    }
}

@each $current-color in $orbit-planets-bgcolors-list {
    $i: index($orbit-planets-bgcolors-list, $current-color);
    .planet-#{$i}{
        @extend .planet;
        z-index:$zindex - 6*$i;
        //transform-origin:$transform-origin+$i*50 100%;
        //animation-duration: $animation-duration*$i;
        //right: $left + $i*70px;
        div{ 
            @extend .planet;
            background: $current-color;
            z-index: $zindex/$i;
        }
    }
}
@for $i from 1 through 3{
    .orbit-#{$i}{
        @extend .orbit;
        width: $base-orbit-size + $i*130px;
        height: $base-orbit-size + $i*130px;
    }    
}

@for $i from 1 through 3{
    .planet-#{$i}{
        $base-orbit-planet-size: $i*9;
        @for $i from 1 through 3{
            .orbit-planet-#{$i}{
                opacity: 1/$i;
                border-radius: 100%;
                width: $base-orbit-planet-size + $i*18px;
                height: $base-orbit-planet-size + $i*18px;
            }  
        }
    }   
}

@each $current-color in $orbits-bgcolors-list {
    $i: index($orbits-bgcolors-list, $current-color);
    .orbit-#{$i} { 
        @extend .orbit;
        background: $current-color;
        z-index: $zindex/$i;
    }
}
.animation{
    animation: rotate180deg 2s infinite;
}
@keyframes rotate180deg{
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}
@keyframes rotate180degBack{
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}
@keyframes shineStars{
    0%{box-shadow: 0px 0px 50px #F2CE92;}
    50%{box-shadow: 0px 0px 150px #ffffff;}
}
@keyframes starsOpacity{
    0%{opacity: 1;}
    50%{opacity: 0;}
}